.statistics {
  margin: 55px auto 0 auto;
  width: 460px;
  background-color: white;
}

.title {
  margin: 0;
  padding: 35px;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: blueviolet;
}

.statList {
display: flex;
margin: 0;
padding: 0;
color: white;
}

.item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
}

.label {
  text-align: center;
  font-size: 18px;
}

.percentage {
  font-size: 25px;
  text-align: center;
}